# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

# NOTE: must set "Crossbow" as name to have the badge links working in the
# github comment reports!
name: Crossbow

on:
  push:
    branches:
      - "*-github-*"

jobs:
  package:
    name: Package Gandiva
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout Arrow
        run: |
          git clone --no-checkout {{ arrow.remote }} arrow
          git -C arrow fetch -t {{ arrow.remote }} {{ arrow.branch }}
          if [ $CROSSBOW_USE_COMMIT_ID = true ]; then git -C arrow checkout {{ arrow.head }}; else git -C arrow checkout FETCH_HEAD; fi
          git -C arrow submodule update --init --recursive
      - name: Build Gandiva
        run: |
          python3 -VV
          cd arrow
          mkdir -p dist
          export CC="gcc-4.9" CXX="g++-4.9"
          ulimit -c unlimited -S
          set -e
          docker run -v $PWD:/arrow quay.io/projjal/arrow:gandivadocker /arrow/dev/tasks/gandiva-jars/build-cpp-linux.sh
          dev/tasks/gandiva-jars/build-java.sh
        env:
          OS_NAME: "linux"
          CHECK_SHARED_DEPENDENCIES: true
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Set up Crossbow
        run: |
          pip install --requirement arrow/dev/tasks/requirements-crossbow.txt
      - name: Upload artifacts
        run: |
          python arrow/dev/tasks/crossbow.py \
            --queue-path arrow \
            --queue-remote {{ queue_remote_url }} \
            upload-artifacts \
            --sha {{ task.branch }} \
            --tag {{ task.tag }} \
            --pattern "arrow/dist/*.jar"
        env:
          CROSSBOW_GITHUB_TOKEN: {{ '${{ secrets.CROSSBOW_GITHUB_TOKEN }}' }}
