// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

//go:build !noasm

package kernels

import "unsafe"

{{ $arch := .D.arch }}
{{ $typelist := .In }}
{{range .In}}
{{ $src := .Type }}
{{ $srcName := .Name }}
{{ range $typelist }}
{{ $dest := .Type }}
{{ $destName := .Name }}

//go:noescape
func _cast_numeric_{{printf "%s_%s_%s" $src $dest $arch}}(in, out unsafe.Pointer, len int)

func castNumeric{{ $srcName }}{{ $destName }}{{ $arch }}(src []{{$src}}, dest []{{$dest}}) {
    _cast_numeric_{{printf "%s_%s_%s" $src $dest $arch}}(unsafe.Pointer(&src[0]), unsafe.Pointer(&dest[0]), len(src))
}
{{ end }}
{{ end }}