# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

jobs:
- job: linux
  pool:
    vmImage: ubuntu-latest
  timeoutInMinutes: 360
  steps:
    - task: CondaEnvironment@1
      inputs:
        packageSpecs: 'click github3.py jinja2 jira pygit2 ruamel.yaml setuptools_scm toolz'
        installOptions: '-c conda-forge'
        updateConda: false

    - script: |
        set -ex
        git clone --no-checkout {{ arrow.remote }} arrow
        git -C arrow fetch -t {{ arrow.remote }} {{ arrow.branch }}
        git -C arrow checkout FETCH_HEAD
        git -C arrow submodule update --init --recursive
      displayName: Clone arrow

    - script: pip install -e arrow/dev/archery[docker]
      displayName: Setup Archery

    - script: |
        set -ex
        cd arrow
        BUILD_IMAGE=centos-python-{{ wheel_tag }}
        archery docker run \
          -e SETUPTOOLS_SCM_PRETEND_VERSION="{{ arrow.no_rc_version }}" \
          -e PYTHON_VERSION="{{ python_version }}" \
          -e UNICODE_WIDTH="{{ unicode_width }}" \
          ${BUILD_IMAGE}
        {% if arrow.branch == 'master' %}
        archery docker push ${BUILD_IMAGE} || :
        {% endif %}
      env:
        ARCHERY_DOCKER_USER: $(ARCHERY_DOCKER_USER)
        ARCHERY_DOCKER_PASSWORD: $(ARCHERY_DOCKER_PASSWORD)
        DOCKER_BUILDKIT: 0
        COMPOSE_DOCKER_CLI_BUILD: 1
      displayName: Build wheel

    # auditwheel does always exit with 0 so it is mostly for debugging
    # purposes
    - script: |
        set -ex
        cd arrow
        docker run \
          -v $(pwd):/arrow quay.io/pypa/{{ wheel_tag }}_x86_64 \
          /bin/bash -c \
            "auditwheel show /arrow/python/{{ wheel_dir }}/dist/*.whl"
      displayName: Audit wheel

    - script: |
        set -ex
        cd arrow
        test_args=""
        {%- if test_remove_system_libs %}
        test_args="${test_args} --remove-system-libs"
        {%- endif %}
        {%- for image in test_docker_images %}
        docker run \
          --shm-size 2G \
          -v $(pwd):/arrow \
          -e WHEEL_DIR="{{ wheel_dir }}" \
          {{ image }} \
          /arrow/dev/tasks/python-wheels/manylinux-test.sh ${test_args}
        {%- endfor %}
      displayName: Test wheel

    - script: |
        set -ex
        python arrow/dev/tasks/crossbow.py \
          --queue-path . \
          --queue-remote {{ queue_remote_url }} \
          upload-artifacts \
          --pattern "arrow/python/{{ wheel_dir }}/dist/*" \
          --sha {{ task.branch }} \
          --tag {{ task.tag }}
      env:
        CROSSBOW_GITHUB_TOKEN: $(CROSSBOW_GITHUB_TOKEN)
      displayName: Upload packages as a GitHub release

    {% if arrow.branch == 'master' %}
    # upload to gemfury
    - script: |
        path=$(ls arrow/python/{{ wheel_dir }}/dist/*.whl)
        curl -F "package=@${path}" https://${CROSSBOW_GEMFURY_TOKEN}@push.fury.io/${CROSSBOW_GEMFURY_ORG}/
      env:
        CROSSBOW_GEMFURY_TOKEN: $(CROSSBOW_GEMFURY_TOKEN)
        CROSSBOW_GEMFURY_ORG: $(CROSSBOW_GEMFURY_ORG)
      displayName: Upload packages to Gemfury
    {% endif %}
