<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">Apache Arrow&#8482;&nbsp;&nbsp;&nbsp;</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true"
             aria-expanded="false">Specification<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/docs/memory_layout.html">Memory Layout</a></li>
            <li><a href="{{ site.baseurl }}/docs/metadata.html">Metadata</a></li>
            <li><a href="{{ site.baseurl }}/docs/ipc.html">Messaging / IPC</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true"
             aria-expanded="false">Code Documentation<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/docs/cpp">C++</a></li>
            <li><a href="{{ site.baseurl }}/docs/java">Java</a></li>
            <li><a href="{{ site.baseurl }}/docs/python">Python</a></li>
          </ul>
        </li>
        <!-- <li><a href="{{ site.baseurl }}/blog">Blog</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true"
             aria-expanded="false">ASF Links<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="http://www.apache.org/">ASF Website</a></li>
            <li><a href="http://www.apache.org/licenses/">License</a></li>
            <li><a href="http://www.apache.org/foundation/sponsorship.html">Donate</a></li>
            <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
            <li><a href="http://www.apache.org/security/">Security</a></li>
          </ul>
        </li>
      </ul>
      <a href="http://www.apache.org/">
        <img style="float:right;" src="{{ site.baseurl }}/img/asf_logo.svg" width="120px"/>
      </a>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
