# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

apache-rat-*.jar
arrow-src.tar
arrow-src.tar.gz

# Compiled source
*.a
*.dll
*.o
*.py[ocd]
*.so
*.so.*
*.bundle
*.dylib
.build_cache_dir
dependency-reduced-pom.xml
MANIFEST
compile_commands.json
build.ninja

# Generated Visual Studio files
*.vcxproj
*.vcxproj.*
*.sln
*.iml

# Linux perf sample data
perf.data
perf.data.old

cpp/.idea/
.clangd/
cpp/.clangd/
.cache/clangd/
cpp/.cache/clangd/
cpp/apidoc/xml/
docs/example.gz
docs/example1.dat
docs/example3.dat
python/.eggs/
python/doc/
# Egg metadata
*.egg-info

.vscode
.idea/
.pytest_cache/
pkgs
docker_cache
.gdb_history
*.orig
.*.swp
.*.swo

site/

# R files
**/.Rproj.user
**/*.Rcheck/
**/.Rhistory
.Rproj.user

# macOS
cpp/Brewfile.lock.json
.DS_Store

# docker volumes used for caching
.docker

# generated native binaries created by java JNI build
java-dist/
java-native-c/
java-native-cpp/

# archery files
dev/archery/build

swift/Arrow/.build

# Go dependencies
go/vendor

# direnv
.envrc
