r/R/RcppExports.R linguist-generated=true
r/R/arrowExports.R linguist-generated=true
r/src/RcppExports.cpp linguist-generated=true
r/src/arrowExports.cpp linguist-generated=true
r/man/*.Rd linguist-generated=true
cpp/src/generated/*.h linguist-generated=true
r/NEWS.md merge=union
go/**/*.s linguist-generated=true
go/arrow/unionmode_string.go linguist-generated=true
