[submodule "cpp/submodules/parquet-testing"]
	path = cpp/submodules/parquet-testing
	url = https://github.com/apache/parquet-testing.git
[submodule "testing"]
	path = testing
	url = https://github.com/apache/arrow-testing
[submodule "cpp/submodules/qpl"]
	path = cpp/submodules/qpl
	url = https://github.com/intel/qpl.git
