#!/usr/bin/make -f
# -*- makefile-gmake -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_build:
	gpg \
	  --no-default-keyring \
	  --keyring ./apache-arrow-apt-source.gpg \
	  --import KEYS

	( \
	  distribution=$$(lsb_release --id --short | tr 'A-Z' 'a-z'); \
	  code_name=$$(lsb_release --codename --short); \
	  echo "Types: deb deb-src"; \
	  echo "URIs: https://apache.jfrog.io/artifactory/arrow/$${distribution}/"; \
	  echo "Suites: $${code_name}"; \
	  echo "Components: main"; \
	  echo "Signed-By: /usr/share/keyrings/apache-arrow-apt-source.gpg"; \
	) > apache-arrow.sources

override_dh_install:
	install -d debian/tmp/usr/share/keyrings/
	install -m 0644 apache-arrow-apt-source.gpg \
	  debian/tmp/usr/share/keyrings/

	install -d debian/tmp/etc/apt/sources.list.d/
	install -m 0644 apache-arrow.sources \
	  debian/tmp/etc/apt/sources.list.d/

	dh_install
