Makefile
Makefile.in
.deps/
.libs/
*.gir
*.typelib
*.o
*.lo
*.la
*~
/*.tar.gz
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config/
/configure
/doc/reference/*.txt
/doc/reference/*.txt.bak
/doc/reference/*.args
/doc/reference/*.hierarchy
/doc/reference/*.interfaces
/doc/reference/*.prerequisites
/doc/reference/*.signals
/doc/reference/*.types
/doc/reference/gtk-doc.make
/doc/reference/*.stamp
/doc/reference/html/
/doc/reference/xml/
/libtool
/m4/
/stamp-h1
/version
/arrow-glib/enums.c
/arrow-glib/enums.h
/arrow-glib/io-enums.c
/arrow-glib/io-enums.h
/arrow-glib/ipc-enums.c
/arrow-glib/ipc-enums.h
/arrow-glib/stamp-*
/arrow-glib/*.pc
/example/build
