# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

Makefile
Makefile.in
.deps/
.libs/
*.gir
*.typelib
*.o
*.lo
*.la
*~
/LICENSE.txt
/*.tar.gz
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config/
/configure
/doc/*-glib/*.txt
/doc/*-glib/*.txt.bak
/doc/*-glib/*.args
/doc/*-glib/*.hierarchy
/doc/*-glib/*.interfaces
/doc/*-glib/*.prerequisites
/doc/*-glib/*.signals
/doc/*-glib/*.types
/doc/*-glib/entities.xml
/doc/*-glib/*.stamp
/doc/*-glib/html/
/doc/*-glib/xml/
/doc/*-glib/tmpl/
/libtool
/m4/
/stamp-h1
/arrow-cuda-glib/*.pc
/arrow-glib/enums.c
/arrow-glib/enums.h
/arrow-glib/stamp-*
/arrow-glib/version.h
/arrow-glib/*.pc
/gandiva-glib/*.pc
/parquet-glib/*.pc
/plasma-glib/*.pc
/example/build
/example/read-batch
/example/read-stream
/gtk-doc.make
/build/
