Makefile
Makefile.in
.deps/
.libs/
*.gir
*.typelib
*.o
*.lo
*.la
*~
/LICENSE.txt
/*.tar.gz
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config/
/configure
/doc/reference/*.txt
/doc/reference/*.txt.bak
/doc/reference/*.args
/doc/reference/*.hierarchy
/doc/reference/*.interfaces
/doc/reference/*.prerequisites
/doc/reference/*.signals
/doc/reference/*.types
/doc/reference/gtk-doc.make
/doc/reference/*.stamp
/doc/reference/html/
/doc/reference/xml/*
!/doc/reference/xml/Makefile.am
!/doc/reference/xml/meson.build
!/doc/reference/xml/gtkdocentities.ent.in
/doc/reference/tmpl/
/libtool
/m4/
/stamp-h1
/arrow-glib/enums.c
/arrow-glib/enums.h
/arrow-glib/stamp-*
/arrow-glib/*.pc
/arrow-gpu-glib/*.pc
/example/build
/example/read-batch
/example/read-stream
!/example/go/Makefile
/example/go/read-batch
/example/go/read-stream
/example/go/write-batch
/example/go/write-stream
