*.tar.gz
*.exe
*.dll
*.do
*.o
*.so*
*.a
*.dll
*.dylib
*.dSYM
*.out
*.new
.vscode
/data/*.txt
/data/*.ttf
/data/*.sfd
/docs/
/bench/bench
/bench/icu
/bench/unistring
/test/normtest
/test/graphemetest
/test/printproperty
/test/charwidth
/test/misc
/test/valid
/test/iterate
/test/case
/test/iscase
/test/custom
/tmp/
/mingw_static/
/mingw_shared/
/msvc_shared/
/msvc_static/
/build/
NEWS-update.jl
libutf8proc.pc
