/xcode/
/build/
/builds/
/build-*/
/_build/
.DS_Store
CMakeCache.txt
DartConfiguration.tcl
Makefile
CMakeFiles/
/Testing/
/include/gflags/config.h
/include/gflags/gflags_completions.h
/include/gflags/gflags_declare.h
/include/gflags/gflags.h
/lib/
/test/gflags_unittest_main.cc
/test/gflags_unittest-main.cc
/packages/
CMakeLists.txt.user
/bazel-bin
/bazel-genfiles
/bazel-gflags
/bazel-out
/bazel-testlogs
