*.DS_Store
*.iml
*.lck
*.log
*.patch
*~
.buildpath
.checkstyle
.classpath
.factorypath
.idea/
.project
.settings/
/build/
/*-build/
CMakeCache.txt
CMakeFiles/
Makefile
TAGS
arrow-git.properties
cmake_install.cmake
install_manifest.txt
target/

# Generated properties file
flight/flight-sql-jdbc-core/src/main/resources/properties/flight.properties
