thirdparty/
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
build/
Testing/

# Python stuff

# Editor temporary/working/backup files
*flymake*

# Generated sources
*.c
*.cpp
pyarrow/*_api.h
pyarrow/_generated_version.py

# Bundled headers
pyarrow/include

# setup.py working directory
build
# setup.py dist directory
dist
# Coverage
.coverage
coverage.xml
htmlcov
# Cache
.cache

# benchmark working dir
.asv
pyarrow/_table_api.h

# manylinux1 temporary files
manylinux1/arrow

# plasma store
pyarrow/plasma_store_server
