thirdparty/
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
build/
Testing/

# Python stuff

# Editor temporary/working/backup files
*flymake*

# Generated sources
*.c
*.cpp
pyarrow/lib.h
pyarrow/*_api.h
pyarrow/_generated_version.py
cython_debug

# Bundled headers
pyarrow/include

# setup.py working directory
build
# setup.py dist directory
dist
# Coverage
.coverage
coverage.xml
htmlcov
# Hypothesis test framework
.hypothesis/
# Cache
.cache

# benchmark working dir
.asv
pyarrow/_table_api.h

# manylinux temporary files
manylinux1/arrow
nm_arrow.log
visible_symbols.log

# plasma store
pyarrow/plasma-store-server
