cffi
cython
hypothesis
numpy==1.19.4; python_version != "3.9" or platform_machine != "aarch64"
numpy==1.20.1; python_version == "3.9" and platform_machine == "aarch64"
pandas<1.1.0; python_version < "3.8" and platform_machine != "aarch64"
pandas; python_version >= "3.8" or platform_machine == "aarch64"
pickle5; (python_version == "3.6" or python_version == "3.7") and sys_platform != "win32"
pytest
pytest-lazy-fixture
pytz
