cffi
cython
hypothesis==5.0; python_version <= "3.5.2"
hypothesis; python_version > "3.5.2"
numpy==1.14.5; python_version < "3.8"
numpy==1.17.3; python_version >= "3.8"
pandas==0.24; python_version <= "3.5.2"
pandas; python_version > "3.5.2"
pickle5; python_version == "3.6" or python_version == "3.7"
pytest
pytest-lazy-fixture
pytz
