cffi; python_version < "3.15"  # TODO: temporary - reenable when 3.15 wheels ship
hypothesis
packaging
pandas; python_version < "3.15"  # TODO: temporary - reenable when 3.15 wheels ship
pytest
pytest-xdist
pytz
pyuwsgi; sys.platform != 'win32' and python_version < '3.13'
