Source: apache-arrow
Section: devel
Priority: optional
Maintainer: Kouhei Sutou <kou@clear-code.com>
Build-Depends:
  autoconf-archive,
  bison,
  cmake,
  debhelper (>= 9.20160115),
  dh-autoreconf,
  flex,
  git,
  gobject-introspection,
  gtk-doc-tools,
  libboost-filesystem-dev,
  libboost-regex-dev,
  libboost-system-dev,
  libgirepository1.0-dev,
  libprotobuf-dev,
  libprotoc-dev,
  nvidia-cuda-toolkit,
  pkg-config,
  protobuf-compiler,
  python3-dev,
  python3-numpy
Build-Depends-Indep: libglib2.0-doc
Standards-Version: 3.9.6
Homepage: https://arrow.apache.org/

Package: libarrow12
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides library files.

Package: libarrow-python12
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libarrow12 (= ${binary:Version}),
  python3,
  python3-numpy
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides library files for Python support.

Package: libarrow-gpu12
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libarrow12 (= ${binary:Version})
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides library files for GPU support.

Package: libarrow-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libarrow12 (= ${binary:Version})
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides header files.

Package: libarrow-python-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libarrow-dev (= ${binary:Version}),
  libarrow-python12 (= ${binary:Version})
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides header files for Python support.

Package: libarrow-gpu-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libarrow-dev (= ${binary:Version}),
  libarrow-gpu12 (= ${binary:Version})
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides header files for GPU support.

Package: libparquet12
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: Apache Parquet is a columnar storage format
 .
 This package provides C++ library files to process Apache Parquet format.

Package: libparquet-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libarrow-dev (= ${binary:Version}),
  libparquet12 (= ${binary:Version})
Description: Apache Parquet is a columnar storage format
 .
 This package provides C++ header files.

Package: libarrow-glib12
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libarrow12 (= ${binary:Version})
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides library files.

Package: gir1.2-arrow-1.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends:
  ${gir:Depends},
  ${misc:Depends}
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides GObject Introspection typelib files.

Package: libarrow-glib-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libglib2.0-dev,
  libarrow-dev (= ${binary:Version}),
  libarrow-glib12 (= ${binary:Version}),
  gir1.2-arrow-1.0 (= ${binary:Version})
Suggests: libarrow-glib-doc
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides header files.

Package: libarrow-glib-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends:
  ${misc:Depends}
Recommends: libglib2.0-doc
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides documentations.

Package: libarrow-gpu-glib12
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libarrow-glib12 (= ${binary:Version}),
  libarrow-gpu12 (= ${binary:Version})
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides library files for GPU support.

Package: gir1.2-arrow-gpu-1.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends:
  ${gir:Depends},
  ${misc:Depends}
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides GObject Introspection typelib files for GPU support.

Package: libarrow-gpu-glib-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libarrow-dev (= ${binary:Version}),
  libarrow-glib-dev (= ${binary:Version}),
  libarrow-gpu-dev (= ${binary:Version}),
  libarrow-gpu-glib12 (= ${binary:Version}),
  gir1.2-arrow-gpu-1.0 (= ${binary:Version})
Description: Apache Arrow is a data processing library for analysis
 .
 This package provides header files for GPU support.

Package: libparquet-glib12
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libarrow-glib12 (= ${binary:Version}),
  libparquet12 (= ${binary:Version})
Description: Apache Parquet is a columnar storage format
 .
 This package provides GLib based library files.

Package: gir1.2-parquet-1.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends:
  ${gir:Depends},
  ${misc:Depends}
Description: Apache Parquet is a columnar storage format
 .
 This package provides GObject Introspection typelib files.

Package: libparquet-glib-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libarrow-glib-dev (= ${binary:Version}),
  libparquet-dev (= ${binary:Version}),
  libparquet-glib12 (= ${binary:Version}),
  gir1.2-parquet-1.0 (= ${binary:Version})
Suggests: libparquet-glib-doc
Description: Apache Parquet is a columnar storage format
 .
 This package provides GLib based header files.

Package: libparquet-glib-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends:
  ${misc:Depends}
Recommends: libglib2.0-doc
Description: Apache Parquet is a columnar storage format
 .
 This package provides documentations.
