{% include top.html %}
{% capture homepage %}http://people.apache.org/~{{ page.author }}{% endcapture %}

<body class="wrap">
  <div class="container">
    {% include header.html %}

    <h2>
      {{ page.title }}
      <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
    </h2>

    {% capture discard %}
      {% for c in site.data.contributors %}
        {% if c.apacheId == page.author %}
          {% assign author_name = c.name %}
          {% if c.homepage %}
            {% assign homepage = c.homepage %}
          {% else %}
            {% capture homepage %}http://github.com/{{ c.githubId }}{% endcapture %}
          {% endif %}
          {% if c.avatar %}
            {% assign avatar = c.avatar %}
          {% else %}
            {% capture avatar %}http://github.com/{{ c.githubId }}.png{% endcapture %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endcapture %}{% assign discard = nil %}

    <div class="panel">
      <div class="panel-body">
        <div>
          <span class="label label-default">Published</span>
          <span class="published">
            <i class="fa fa-calendar"></i>
            {{ page.date | date_to_string }}
          </span>
        </div>
        <div>
          <span class="label label-default">By</span>
          <a href="{{ homepage }}"><i class="fa fa-user"></i> {{ author_name }} ({{ page.author }})</a>
        </div>
      </div>
    </div>

    {{ content }}

    {% include footer.html %}
  </div>
</body>
</html>
