#
# Note: keep this file in sync with conda_env_sphinx.txt !
#

breathe
ipython
numpydoc
sphinx-autobuild
sphinx-design
sphinx-copybutton
sphinx==6.2
pandas

pip:
git+https://github.com/pydata/pydata-sphinx-theme.git@main
