#
# Note: keep this file in sync with conda_env_sphinx.txt !
#

breathe
ipython
numpydoc
sphinx-autobuild
sphinx-design
sphinx-copybutton
sphinx==6.2
pandas
git+https://github.com/pydata/pydata-sphinx-theme.git@f6e1943c5f9fab4442f7e7d6f5ce5474833b66f6
