#
# Note: keep this file in sync with conda_env_sphinx.txt !
#

breathe
cython>3.1.1
ipython
linuxdoc
myst-parser[linkify]
numpydoc
pydata-sphinx-theme~=0.16
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-lint
sphinxcontrib-mermaid
sphinx==6.2
pandas
