{#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#}
{%- if not minimal -%}
### Total number of GitHub tickets assigned to version {{ release.version }}: {{ release.issues|length }}

### Total number of applied patches since version {{ release.previous.version }}: {{ release.commits|length }}

### Patches with assigned issue in version {{ release.version }}: {{ within|length }}
{% for issue, commit in within -%}
 - {{ commit.url }} {{ commit.title }}
{% endfor %}
{% endif -%}
### Patches with assigned issue outside of version {{ release.version }}: {{ outside|length }}
{% for issue, commit in outside -%}
 - {{ commit.url }} {{ commit.title }}
{% endfor %}
{% if not minimal -%}
### Minor patches in version {{ release.version }}: {{ minor|length }}
{% for commit in minor -%}
 - {{ commit.url }} {{ commit.title }}
{% endfor %}
### Patches in version {{ release.version }} without a linked issue:
{% for commit in noissue -%}
 - {{ commit.url }} {{ commit.title }}
{% endfor %}
### JIRA issues in version {{ release.version }} without a linked patch: {{ nopatch|length }}
{% for issue in nopatch -%}
 - https://github.com/apache/arrow/issues/{{ issue.key }}
{% endfor %}
{%- endif -%}