root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[site/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_style = unset
trim_trailing_whitespace = unset

[*.{proto,yaml,yml}]
indent_size = 2
