Meta
docs/
inst/doc
*.o
*.o-*
*.d
*.so
*.dll
.RData
.Rproj.user
.Rhistory
src/Makevars
src/Makevars.win
windows/
libarrow/
revdep/
vignettes/nyc-taxi/
arrow_*.tar.gz
arrow_*.tgz
extra-tests/files
.deps

# C++ sources for an offline build. They're copied from the ../cpp directory, so ignore them here.
/tools/cpp/
# cmake expects dotenv, NOTICE.txt, and LICENSE.txt to be available one level up
# from cpp/, but again, they're just copies
/tools/dotenv
/tools/LICENSE.txt
/tools/NOTICE.txt
/tools/versions.txt
