# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: C#

on:
  push:
    branches:
      - master
      - maint-*
    paths:
      - 'ci/**'
      - 'csharp/**'
  pull_request:
    paths:
      - 'ci/**'
      - 'csharp/**'

jobs:

  ubuntu:
    name: AMD64 Ubuntu 18.04 C# ${{ matrix.dotnet }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: [2.2.103]
    steps:
      - name: Install C#
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Checkout Arrow
        uses: actions/checkout@v1
        with:
          submodules: true
      - name: Build
        shell: bash
        run: ci/scripts/csharp_build.sh $(pwd)
      - name: Test
        shell: bash
        run: ci/scripts/csharp_test.sh $(pwd)

  windows:
    name: AMD64 Windows 2019 18.04 C# ${{ matrix.dotnet }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: [2.2.103]
    steps:
      - name: Install C#
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Checkout Arrow
        uses: actions/checkout@v1
        with:
          submodules: true
      - name: Build
        shell: bash
        run: ci/scripts/csharp_build.sh $(pwd)
      - name: Test
        shell: bash
        run: ci/scripts/csharp_test.sh $(pwd)

  macos:
    name: AMD64 MacOS 10.15 C# ${{ matrix.dotnet }}
    runs-on: macos-latest
    if: github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        dotnet: [2.2.103]
    steps:
      - name: Install C#
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Checkout Arrow
        uses: actions/checkout@v1
        with:
          submodules: true
      - name: Build
        shell: bash
        run: ci/scripts/csharp_build.sh $(pwd)
      - name: Test
        shell: bash
        run: ci/scripts/csharp_test.sh $(pwd)
