package arrow

{{range .In}}
type {{.Name}}Type struct {}

func (t *{{.Name}}Type) ID() Type { return {{.Name|upper}} }
func (t *{{.Name}}Type) Name() string { return "{{.Name|lower}}" }


{{end}}

var (
        PrimitiveTypes = struct {
{{range .In}}
                {{.Name}} DataType
{{- end}}
        }{
{{range .In}}
                {{.Name}}: &{{.Name}}Type{},
{{- end}}
        }
)